@charset "UTF-8";
*{
	padding: 0 auto;
	margin: 0 auto;
}
body{
	padding: 0 auto;
	margin: 0 auto;
}

ul li a{
	text-decoration:none;
}


/* top顶部css*/
.top1{
	line-height: 20px;
	color: white;
	text-align: right;
	padding-right: 20px;
}


/* admin_login.jspcss*/
.login{
	background-color: #698B69;
	width: 500px;
	height: 300px;
	margin-top: 100px;
	padding-top:100px
}
.form1{
	width:300px;
	height:40px
}
.submit1{
	width:200px;
	height:40px;
	font-size:24;
}



.style1{
	text-align: left;
	line-height: 1.5;
}
.style1 li{
	display: block;
	list-style-type: none;
	margin: 0px;
}

.table{
	 background-color: #EAEAEA;
}
.tab0{
	text-align: center;
	
	
}
.tab1{
	text-align: right;
	background-color: #66cc99;
	
}
.tab2{
	background-color: #336699;
	text-align: left;
}